<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Subtitle Generator - Create Accurate Subtitles for Videos</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{url_for('static',filename='style2.css')}}" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    
    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0 " style="margin-top:129px ;">
                    <h1 class="text-primary mb-3">Subtitle Generator</h1>
                    <h2 class="display-3 mb-3">Build standard subtitles for your videos.</h2>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Create Subtitles Now !!</div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="/signup" class="btn btn-primary py-3 px-4 me-5">Sign up</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal">
                            <a href="/login"><span></span></a>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block"><a href="/login">Create Subtitles</a></h5>
                    </div>
                </div>
                <div class="col-lg-6" style="margin-top:129px ;">
                    <img class="img-fluid" src="https://assets-global.website-files.com/616e938268c8f02f94b2b53c/631ece3a11a5ac49d5c95247_Subtitles%20%26%20translations-p-800.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom text-secondary" href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom text-secondary" href="https://htmlcodex.com">Do Khanh Toan</a>
                        <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/typed/typed.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/counterup/counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/isotope/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>