{% extends "base.html" %} {% block title %} Tạo phụ đề cho video {% endblock %}
{% block content %}
<!-- {{message}} -->
{% if session['user'] %}
{% include "nav.html" %}

<div class="modal">
  <div class="loading" style="display: flex; flex-direction: column;">
    <div class="music-waves-2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> <br>
    </div> <br>
    <p style="color: #ffffff;">Creating subtitles for your video ...</p>
  </div>
</div>
{% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flash">
  <!-- {% for message in messages %} -->
  <span>
    <i class="fa fa-check" aria-hidden="true"></i>
  </span>
  <li>{{ messages[0] }}</li>
  <!-- {% endfor %} -->
</ul>
{% endif %} {% endwith %}
<!-- {% with message1 = get_flashed_messages() %} {% if
message1 %}
<div class="up">{{message1[1]}}</div>
{% endif %}{% endwith %} -->
<div class="center">
  <h1 style="margin-bottom: 100px;">Create subtitles for your videos!</h1>

  <form method="POST" enctype="multipart/form-data" class="index">
    {{form.hidden_tag()}} {{form.file()}}
    <div class="lang">
      <span>Source language (input)</span>
      {{form.language()}}
    </div>
    <div class="lang">
      <span>Target language (output)</span>
      {{form.language2}}
    </div>
    <div class="subtitle">
      <span>New subtitle name</span>
      {{form.name}}
    </div>
    <div class="lang">
      <span>Noise reduction algorithm</span>
      {{form.algorithm}}
    </div>
    {{form.submit()}}
  </form>
</div>

<!-- <form method="POST" enctype="multipart/form-data">
    <select name="language" id="language"></select>
  </form> -->
{% endblock %}
