{% extends "base.html" %} {% block title %} Tạo phụ đề cho video {% endblock %}
{% block content %}
  {% include "nav.html" %}
  {% if quantity > 0 %}
  <br>
  <h1 class="mb-10">History of creating subtitles</h1>
  <h3>There are now {{quantity}} subtitled videos</h3>

  <div class="history">
    <div id="wrapper">
      <table border="1">
        <thead>
          <tr>
            <th style="color: #ffffff;">Video name</th>
            <th style="color: #ffffff;">Language</th>
            <th style="color: #ffffff;">Upload date</th>
            <th style="color: #ffffff;">View</th>
            <th style="color: #ffffff;">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for file in data %}
  
          <tr>
            <td class="file_srt">{{file['output_mp4']}}</td>
            <td class="text-center">
              {{file['ma_nn_input']}} / {{file['ma_nn_output']}}
            </td>
            <td>{{file['ngay_up']}}</td>
            <th style="cursor: pointer">
              <a class="view_srt" href="loading/{{file['output_mp4']}}"
                >View <i class="fa fa-eye" aria-hidden="true"></i
              ></a>
            </th>
            <th style="cursor: pointer">
              <a class="delete_srt" data-name="{{file['output_mp4']}}"
                >Delete <i class="fa fa-remove" aria-hidden="true"></i
              ></a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h3 class="empty">
     <br>
     <br>
     <br>
    <span>History of creating blank subtitles</span>
    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
    <a href="/index">Create subtitles now ! </a>
  </h3>
  {% endif %}
</div>
{% endblock %}
