{% extends "base.html" %} {% block title %} Tạo phụ đề cho video {% endblock %}
{% block content %} {% if session['user'] %}
<a href="/" class="href"
  ><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a
>
<div class="profile">
  <div class="account">
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
    <p class="name">Chào {{session['user']}}</p>
  </div>
  <a href="/lichsu">
    <i class="fa fa-history"></i>
    Lịch sử</a
  >
  <a href="/dangxuat">
    <i class="fa fa-sign-out"></i>
    Đăng xuất</a
  >
</div>
  {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
  {{messages[2]}} {% endif %} {% endwith %}
<br>
<br>

<div class="container">
  <div class="left">
  <div style="border: 3px solid black; width: max; height: max;">{{ render_srt }}</div>
  <button class="change"></button>
  </div>
  
<div class="right">
  <video style="border: 3px solid black;" width="860" height="530" controls>
    <source src={{url_for('static',filename=filename) }} type="video/mp4" />
  </video>
  <a class="change" style="cursor: pointer" data-name={{filename}} data-nn={{session['nn']}}>
    Chuyển video sang ngôn ngữ gốc
  </a>
  <form method="POST" enctype="multipart/form-data">
    {{down.hidden_tag()}} {{down.submit2()}}
  </form>
  <!-- <div style="color: red">{{session['nn']}}</div> -->
 
</div>
</div>
{% endblock %}
