{% extends "base.html" %} {% block title %} Tạo phụ đề cho video {% endblock %}
{% block content %} {% if session['user'] %}
<a href="/" class="href"
  ><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a
>
<div class="profile">
  <div class="account">
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
    <p class="name">Chào {{session['user']}}</p>
  </div>
  <a href="/lichsu">
    <i class="fa fa-history"></i>
    Lịch sử</a
  >
  <a href="/dangxuat">
    <i class="fa fa-sign-out"></i>
    Đăng xuất</a
  >
</div>
  {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
  {{messages[2]}} {% endif %} {% endwith %}
<br>
<br>

<div class="container">
  <div class="left">
    <div id="wrapper" style="border: 3px solid black;"">
      <form action="{{ url_for('create_srt', filename=filename.split("/")[-1]) }}" method="POST"> 
        <table id="keywords" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                    <th>Văn bản</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in subtitles %}
                <tr>
                  <td><input type="text" name="start_{{ loop.index }}" value="{{ sub.start_time.strftime('%H:%M:%S,%f')[:-3] }}" step="0.001" ></td>
                  <td><input type="text" name="end_{{ loop.index }}" value="{{ sub.end_time.strftime('%H:%M:%S,%f')[:-3] }}" step="0.001" ></td>                  
                  <td><textarea rows="2" cols="30" name="text_{{ loop.index }}" required>{{ sub.text }}</textarea></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="text" name="name_srt" value="{{ srt_name }}" hidden>
        <button style="margin: 0px 250px;cursor: pointer;" class="change"  type="submit">Cập nhật phụ đề</button>
    </form>        
  </div>
  <form method="POST" enctype="multipart/form-data">
    {{down.hidden_tag()}} {{down.submit2()}}
  </form> 
  </div>
<div class="right">
  <video style="border: 3px solid black;" width="860" height="530" controls>
    <source src="{{url_for('static',filename=filename)}}?v={{timestamp}}" type="video/mp4" />
  </video>
  <a class="change" style="cursor: pointer" data-name={{filename}} data-nn={{session['nn']}}>
    srt_name: {{ srt_name }}
  </a>

  <!-- <div style="color: red">{{session['nn']}}</div> -->
</div>
</div>
<script>
  window.addEventListener('load', function() {
  // Refresh cache
  navigator.serviceWorker.register('/sw.js').then(function(registration) {
      registration.update();
      console.log("debug")
  });
});
</script>
{% endblock %}
