  {% extends "base.html" %} {% block title %} Tạo phụ đề cho video {% endblock %}
  {% block content %} {% if session['user'] %}

    {% include "nav.html" %}
    {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
    {{messages[2]}} {% endif %} {% endwith %}
  <br>
  <br>

  <div class="modal">
    <div class="loading" style="display: flex; flex-direction: column;">
      <div class="music-waves-2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span> <br>
      </div> <br>
      <p style="color: #ffffff;">Updating new subtitles ...</p>
    </div>
  </div>
<div class="container">
  <div class="left">
    <div id="wrapper" style="border: 3px solid black;"">
      <form action="{{ url_for('create_srt', filename=filename.split("/")[-1]) }}" method="POST" class="index fixindex"> 
        <table id="keywords" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th style="color: #ffffff;">Start time</th>
                    <th style="color: #ffffff;">End time</th>
                    <th style="color: #ffffff;">Text</th>
                </tr>
            </thead>
            <tbody>
              {% set sorted_subs = subtitles|sort(attribute='start_time') %}
              {% for sub in sorted_subs %}
              {% set count = loop.index %}
              <tr data-index="{{ count }}">
                <td><input type="text" name="start_{{ count }}" value="{{ sub.start_time.strftime('%H:%M:%S,%f')[:-3] }}" step="0.001" ></td>
                <td><input type="text" name="end_{{ count }}" value="{{ sub.end_time.strftime('%H:%M:%S,%f')[:-3] }}" step="0.001" ></td>                  
                <td style="position: relative;"><textarea rows="4" cols="30" name="text_{{ count }}" required">{{ sub.text }}</textarea>
                  <span style="font-size: 8px; color: #6244c5; margin-top: -100px; position: absolute; top:143%;left:-380px; cursor: pointer; font-size: 12px; font-weight: 700;">{{ count }}</span>
                  <span style="font-size: 8px; color: #6244c5; margin-top: -100px; position: absolute; top:120%;right: -10px; cursor: pointer;"><i class="fa fa-plus fa-2x"></i></span>
                  <span style="font-size: 8px; color: #b93a3c; margin-top: -100px; position: absolute; top:165%;right: -10px; cursor: pointer;"><i class="fa fa-times fa-2x"></i></span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        <input type="text" name="name_srt" value="{{ srt_name }}" hidden>
        <input style="margin: 0px 235px;cursor: pointer; background-color: #533aa7; color: #ffffff;" class="change" id="submit" type="submit" value="Update subtitle">
        <p></p>
    </form>        
  </div>
  <form method="POST" enctype="multipart/form-data">
    {{down.hidden_tag()}} {{down.submit2()}}
  </form> 
  </div>
<div class="right">
  <video id="my-video-player" style="border: 3px solid black;" width="860" height="530" controls>
    <source src="{{url_for('static',filename=filename)}}?v={{timestamp}}" type="video/mp4" />
  </video>
  <a class="change" style="cursor: pointer; background-color: #533aa7; color: #ffffff;" data-name={{filename}} data-nn={{session['nn']}}>
    Switch to the original language
  </a>

  <!-- <div style="color: red">{{session['nn']}}</div> -->
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  $(document).ready(function() {
  // thêm row mới
  $(document).on('click', '.fa-plus', function() {
    
    var currentRow = $(this).closest('tr');
    var countjs = $('#keywords tbody tr').length + 1; // Lấy số lượng hàng hiện tại và cộng thêm 1 cho hàng mới
    
    var newRow = $(
    '{% set sorted_subs = subtitles|sort(attribute="start_time") %}' +
    '<tr data-index="' + countjs + '">'+ // Sử dụng giá trị động ở đây
      '<td><input type="text" name="start_' + countjs + '" value="00:00:00,000" step="0.001" ></td>' + // Sử dụng giá trị động ở đây
      '<td><input type="text" name="end_' + countjs + '" value="00:00:00,000" step="0.001" ></td>' + // Sử dụng giá trị động ở đây
      '<td style="position: relative;"><textarea rows="4" cols="30" name="text_' + countjs + '" required></textarea>' +
      '<span style="font-size: 8px; color: #6244c5; margin-top: -100px; position: absolute; top:143%;left:-380px; cursor: pointer; font-size: 12px; font-weight: 700;">?</span>' +
      '<span style="font-size: 8px; color: #6244c5; margin-top: -100px; position: absolute; top:120%;right: -10px; cursor: pointer;"><i class="fa fa-plus fa-2x"></i></span>' +
      '<span style="font-size: 8px; color: #b93a3c; margin-top: -100px; position: absolute; top:165%;right: -10px; cursor: pointer;"><i class="fa fa-times fa-2x"></i></span>' +
      '</td>' +
    '</tr>');
    
    currentRow.after(newRow);
  });

  // Xóa hàng khi click vào icon times
  $(document).on('click', '.fa-times', function() {
    $(this).closest('tr').remove();
  });
});
// code này fix lỗi khi xóa row
$(document).on('click', '.fa-times', function() {
  var row = $(this).closest('tr');
  var index = row.data('index');
  
  // Xóa các hàng sau hàng bị xóa
  row.nextAll().each(function() {
    var nextIndex = $(this).data('index');
    $(this).data('index', nextIndex - 1);
    $(this).find('[name^="start_"]').attr('name', 'start_' + (nextIndex - 1));
    $(this).find('[name^="end_"]').attr('name', 'end_' + (nextIndex - 1));
    $(this).find('[name^="text_"]').attr('name', 'text_' + (nextIndex - 1));
    $(this).find('span:first-child').text(nextIndex - 1);
  });
  
  // Xóa hàng bị xóa
  row.remove();
});





// $(document).on('click', '.fa-times', function() {
//   var row = $(this).closest('tr');
//   if (row.is(':last-child')) {
//     return;
//   }
//   row.remove();
//   var index = row.data('index');
//   // console.log(index);
//   $('tr').each(function() {
//     var current_index = $(this).data('index');
//     if (current_index > index) {
//       console.log("current_index");

//       console.log(current_index);

//       $(this).data('index', current_index - 1);
//       $(this).find('input[name^="start_"]').attr('name', 'start_' + (current_index - 1));
//       $(this).find('input[name^="end_"]').attr('name', 'end_' + (current_index - 1));
//       $(this).find('textarea[name^="text_"]').attr('name', 'text_' + (current_index - 1));
//     }
//   });
// });

// function deleteRow(index) {
//   $('tr[data-index="' + index + '"] .fa-times').trigger('click');
// }

</script>
{% endblock %}