{% extends "base.html" %} {% block title %} Tạo phụ đề cho video {% endblock %}
{% block content %} {% with messages = get_flashed_messages() %} {% if messages
%}

<style>
  
</style>
<ul class="flash">
  <li>{{ messages[0] }}</li>
</ul>
{% endif %} {% endwith %}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">   
<div class="container_index">
  <div class="nav_index">
    <a href="/" class="href" style="color:
    #ffffff;
    font-family:
    Open Sans;
    font-size:
    17px;
    font-weight:
    600;
    line-height:
    28.8px;
    margin:
    0px 0px 16px"
    ><i class="fa fa-home" aria-hidden="true"></i>    Home Page</a
  >
  </div>
</div>
<div class="center">
  <div class="login">
    <!-- <h1>Tạo phụ đề cho video</h1> -->
    <h2 style="text-align: center; margin: 5px 0; color: #ffffff">
      Login
    </h2>
    <br>
    <br>
    <form method="POST" autocomplete="off">
      <div class="form-group">
        <!-- <p>Tên đăng nhập</p> -->
        <input type="text" name="username" id="username" required placeholder="Username"/>
      </div>
      <div class="form-group">
        <!-- <p>Mật khẩu</p> -->
        <br>
        <input type="password" name="password" id="password" required  placeholder="Password"/>
      </div>
      <input style="color: #ffffff; padding: 8px 40px; margin: 0; background-color: #4b368f;" type="submit" value="Login" name="login" class="dangnhap" />
    </form>
    <div class="check" style="font-weight: bold;">
      Or ?<a href="/signup" class="regis"> Create an Account</a>
    </div>
  </div>
</div>

{% endblock %}
