<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<style>
    video::cue {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: none;
}

</style>
<body>
    <video style="border: 3px solid black;" width="860" height="530" controls>
        <source src="/video/ouput.mp4" type="mp4" />
        <track src="../static/video/123.srt" srclang="vi" label="Vietnamses" kind="subtitles">
    </video>
</body>
</html>